/* colors */

/*
* {
  al:    #00000000;
  bg:    #1F1F1FFF;
  bg1:   #1565C0FF;
  bg2:   #1976D2FF;
  bg3:   #1E88E5FF;
  fg:    #FFFFFFFF;
}*/

* {
  al:    #00000000;
  bg:    rgba(0, 0, 0, 0.5);
  bg1:   rgba(0, 0, 0, 0.8);
  bg2:   rgba(0, 0, 0, 0.8);
  bg3:   rgba(255, 0, 0, 0.5);
  fg:    rgba(255, 255, 255, 0.8);
}
